{% extends 'base/base.html' %} 


{% block css %}
<style>
  body {
    background-color: lightsalmon;
  }
</style>
{% endblock css %} 

{% block page_title %}
<title>TODO - Təfərrüat</title>
{% endblock page_title %}

{% block content %}
<div class="container">
    <div class="mt-5">
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-10 col-md-6">

                <!-- Breadcrumb -->
                <nav class="mt-5" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/">Əsas Səhifə</a></li>
                      <li class="breadcrumb-item"><a href="{% url 'todo:todo_view' todo_list.slug %}">{{ todo_list.title }}</a></li>
                      <li class="breadcrumb-item active">{{ todo.title }}</li>
                    </ol>
                </nav>
                <!-- END Breadcrumb -->

                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h5 class="card-title text-truncate text-wrap">{{ todo.title }}</h5>
                        {% if is_favorite %}
                        <a href="{% url 'todo:remove_favorite_view' todo_list.slug todo.slug %}">
                          <i class="fa-solid fa-star text-warning"></i>
                        </a>
                        {% else %}
                        <a href="{% url 'todo:add_favorite_view' todo_list.slug todo.slug %}">
                          <i class="fa-regular fa-star text-dark"></i>
                        </a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-subtitle mb-2 text-body-secondary">
                            <small class="fst-italic text-muted">Siyahı: </small>
                            <span class="h6">{{ todo.list }}</span>
                        </p>
                        <p class="card-subtitle mb-2 text-body-secondary">
                            <small class="fst-italic text-muted">İstifadəçi: </small>
                            <span class="h6">@{{ todo.user }}</span>
                        </p>
                        <p class="card-text">
                            <small class="fst-italic text-muted"><span>Açıqlama:</span></small>
                            <p>{{ todo.description }}</p>
                        </p>
                        <div>
                            <p class="fst-italic text-muted m-0"><small>Yenilənmə vaxtı: {{ todo.updated_at|date:"d/m/Y H:i" }}</small></p>
                            <p class="fst-italic text-muted"><small>Yaradılma vaxtı: {{ todo.created_at|date:"d/m/Y H:i" }}</small></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'todo:todo_update_view' todo_list.slug todo.slug %}" class="card-link text-decoration-none">Düzəliş et</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
