{% extends 'base/base.html' %} 

{% block css %}
<style>
  body {
    background-color: lightcoral;
  }
</style>
{% endblock css %} 

{% block page_title %}
<title>TODO - Əsas Səhifə</title>
{% endblock page_title %}

{% block content %}
<div class="container">
      <div class="row mt-5">
        <div class="col col-md-10 mt-5">
          <div>
            <form action="{% url 'todo:index_view' %}" method="POST" class="input-group mb-4">
              {% csrf_token %}
              {{ form.title }}
              <input
                type="submit"
                class="btn btn-primary fw-bold"
                value="Əlavə et!"
              />
            </form>
          </div>
        </div>
      </div>
      
    <div class="row d-flex justify-content-center">
      <div class="col">
        <!-- Filter -->
          <div class="btn-group d-flex flex-wrap mb-2">
            <a href="{% url 'todo:index_view' %}" class="btn btn-outline-secondary {% if request.path == "/" %}active{% endif %}">
              <i class="fas fa-list"></i> Hamısı
            </a>
            <a href="{% url 'todo:todo_completed_view' %}" class="btn btn-outline-secondary {% if request.path == "/todos/completed/" %}active{% endif %}">
              <i class="fas fa-check-circle"></i> Tamamlananlar
            </a>
            <a href="{% url 'todo:todo_uncompleted_view' %}" class="btn btn-outline-secondary {% if request.path == "/todos/uncompleted/" %}active{% endif %}">
              <i class="fas fa-times-circle"></i> Tamamlanmayanlar
            </a>
            <a href="{% url 'todo:todo_favorited_view' %}" class="btn btn-outline-secondary {% if request.path == "/todos/favorited/" %}active{% endif %}">
              <i class="fas fa-star"></i> Favorilər
            </a>
          </div>
        <!-- END Filter -->

          <!-- Result -->
          <div>
            <p class="mb-1 ms-1 fw-italic">{{ todos.count }} nəticə</p>
          </div>
          <!-- END Result -->

          <!-- Table -->
          <div class="table-responsive">
            <table class="table table-sm text-center table-hover">
              <thead class="table-dark">
                <tr>
                  <th scope="col" style="width: 40px"></th>
                  <th scope="col" >Başlıq</th>
                  <th scope="col" style="width: 35px"></th>
                  <th scope="col" style="width: 210px">Yenilənmə Vaxtı</th>
                  <th scope="col" style="width: 210px">Yaradılma Vaxtı</th>
                  <th scope="col" style="width: 35px"></th>
                  <th scope="col" style="width: 35px"></th>
                  <th scope="col" style="width: 35px"></th>
                </tr>
              </thead>
              <tbody>
                {% for todo in todos %}
                <tr class="bg-danger">
                  <td>
                    <input type="checkbox" {% if todo.is_completed %}checked{% endif %} onclick="toggleCompleted('{{ todo.slug }}')" />
                  </td>
                  <td class="" {% if todo.is_completed %}style="text-decoration: line-through"{% endif %}>{{ todo.title }}</td>
                  <td>
                    {% if todo in favorites %}
                      <a href="{% url 'todo:remove_favorite_view' todo.slug %}">
                        <i class="fa-solid fa-star text-warning"></i>
                      </a>
                    {% else %}
                      <a href="{% url 'todo:add_favorite_view' todo.slug %}">
                        <i class="fa-regular fa-star text-dark"></i>
                      </a>
                    {% endif %}
                  </td>
                  <td {% if todo.is_completed %}style="text-decoration: line-through"{% endif %}>{{ todo.updated_at }}</td>
                  <td {% if todo.is_completed %}style="text-decoration: line-through"{% endif %}>{{ todo.created_at }}</td>
                  <td>
                    <a href="{% url 'todo:update_view' todo.slug %}">
                      <i class="fa-solid fa-pen-to-square text-text-info"></i>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'todo:delete_view' todo.slug %}">
                      <i class="fa-solid fa-trash-can text-danger"></i>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'todo:detail_view' todo.slug %}">
                      <i class="fa-solid fa-eye text-secondary"></i>
                    </a>
                  </td>
                </tr>
                
                {% empty %}
                <tr>
                  <td colspan="8">Hələ ki, heç bir tapşırıq əlavə etməmisiniz.</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <!-- END Table -->

        {% if request.path == "/" and todos %}
        <div>
          <a href="{% url 'todo:delete_all_view' %}" class="btn btn-danger">Hamısını sil</a>
        </div>
        {% endif %}

      </div>

  </div>
</div>
{% endblock content %}