{% extends 'base/base.html' %}

{% block css %}
<style>
  body {
    background-color: lightcoral;
  }
</style>
{% endblock css %}

{% block page_title %}
<title>TODO - Zibil Qutusu</title>
{% endblock page_title %}

{% block content %}
<div class="container">
    <div class="row mt-5">
        <div class="col">
            <h2>Silinən Tapşırıqlar</h2>
            {% if deleted_todos %}
            <a href="{% url 'todo:empty_trash_view' %}" class="btn btn-danger">Zibil qutusunu boşalt!</a>
            {% endif %}
            <!-- Table -->
            <div class="table-responsive mt-3">
                <table class="table table-sm table-hover">
                    <tbody >
                    {% for todo in deleted_todos %}
                    <tr class="text-truncate text-wrap">
                        <td class="text-truncate text-wrap">
                            <span class="ms-1">{{ todo.title }}</span>
                        </td>
                        <td class="text-center" style="width: 45px">
                            <a href="{% url 'todo:restore_todo_view' todo.slug %}">
                                <i class="fa-solid fa-rotate-left text-success"></i>
                            </a>
                        </td>
                        <td class="text-center" style="width: 45px">
                            <a href="{% url 'todo:permanently_delete_todo_view' todo.slug %}">
                                <i class="fa-solid fa-trash text-danger"></i>
                            </a>
                        </td>
                        <td class="text-end" style="width: 150px">
                            <span class="me-2">{{ todo.updated_at|date:"d/m/Y H:i" }}</span>
                        </td>
                    </tr>
                    
                    {% empty %}
                    <tr>
                        <td colspan="8">Zibil qutusu boşdur.</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- END Table -->
        </div>
    </div>
</div>

{% endblock content %}