<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold ms-2" href="/">
      <i class="fa-solid fa-rectangle-list"></i>
      TODO
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-5">

        {% if not user.is_authenticated %}
        <li class="nav-item me-3">
          <a
            class="nav-link {% if request.resolver_match.view_name == "account:login_view" %}active{% endif %}"
            href="{% url 'account:login_view' %}"
          >
            <i class="fas fa-sign-in-alt"></i>
            Giriş
          </a>
        </li>
        <li class="nav-item">
          <a 
            class="nav-link {% if request.resolver_match.view_name == "account:register_view" %}active{% endif %}"
            href="{% url 'account:register_view' %}"
          >
            <i class="fa-solid fa-user-plus"></i>
            Qeydiyyat
          </a>
        </li>

        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="fa-solid fa-user"></i> {{ user.username }}
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link {% if request.resolver_match.view_name == "todo:trash_view" %}active{% endif %}" href="{% url 'todo:trash_view' %}">
            <i class="fa-solid fa-trash-can"></i> Zibil Qutusu ({{ trash_todo_count_global }})
          </a>
        </li>
        
        <li class="nav-item">
          <a 
            class="nav-link" 
            href="{% url 'account:logout_view' %}"
          >
          Çıxış
          <i class="fa-solid fa-right-from-bracket"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
